.footer {
    background: var(--black);
    width: 90%;
    margin: auto;
    border-radius: 5px 5px 0 0;
    padding: 10px 10px 30px 10px;
}

.footer__title {
    font-size: 2rem;
    font-weight: 600;
    color: var(--beige);
    font-family: var(--font-gliker);
}

.footer__title span {
    font-family: var(--font-gliker);
    color: var(--primary);
}

.footer__container {
    margin: 20px 0;
    padding: 20px 0;
    border-top: 1px solid var(--light);
    border-bottom: 1px solid var(--light);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
}

.footer__div {
    order: 1;
}

.footer__div:nth-child(2) {
    order: 2;
}

.footer__text {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--beige);
    font-family: var(--font-gliker);
}

.footer__link {
    font-size: 1rem;
    color: var(--light);
}

.footer__img {
    width: 90%;
    margin: auto;
    height: auto;
}

.footer__nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.footer__a {
    position: relative;
    font-size: 1rem;
    color: var(--light);
}

.footer__icon {
    position: absolute;
    top: 0;
    font-size: 0.5rem;
    transform: rotate(45deg);
}

@media (min-width: 768px) {
    .footer {
        padding: 2.5%;
        border-radius: 10px;
        margin-bottom: 30px;
    }

    .footer__title {
        justify-self: center;
        width: fit-content;
        font-size: 4rem;
    }

    .footer__container {
        flex-direction: row;
        gap: 40px;
        padding: 40px 0;
    }

    .footer__div {
        flex: 1;
    }

    .footer__div:nth-child(2) {
        order: 1;
    }

    .footer__text {
        font-size: 1.4rem;
    }

    .footer__link {
        font-size: 1.2rem;
    }

    .footer__nav {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }
}

.write {
    overflow: hidden;
    border-right: 2px solid;
    white-space: nowrap;
    animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: #000;
    }
}
