.form {
    width: 100%;
    margin-top: 30px;
    text-align: center;
}

.form__grid {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.container {
    margin-top: 20px;
}

.button {
    width: 100%;
    background: var(--white);
    border: none;
    border-radius: 10px;
    text-align: center;
    padding: 15px;
    font-size: 1.2rem;
    font-weight: 700;
    font-family: var(--font-gliker);
}

@media (min-width: 768px) {
    .form__grid {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .form__grid > :first-child {
        grid-column: span 2;
    }

    .form__grid > :last-child {
        grid-column: span 2;
    }
}
