.map {
    width: 100%;
    z-index: 2;
}

.mapContainer {
    width: 100%;
    height: 100vh;
}

.info {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 5px;
}

.info__title {
    font-size: 0.9rem;
    color: var(--dark);
}

.info__rating {
    display: flex;
    gap: 5px;
    align-items: center;
    font-weight: 400;
}

.info__icon {
    color: var(--primary);
    width: 10px;
    height: 10px;
}

.info__button {
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    background: var(--primary);
    color: var(--white);
    padding: 5px;
    cursor: pointer;
}

@media (min-width: 768px) {
    .map {
        flex: 1;
        min-height: 0;
        position: relative;
        z-index: 1;
    }

    .mapContainer {
        height: 100%;
    }
}
