.header {
    text-align: center;
}

.header__img {
    width: 200px;
    height: auto;
}

.header__subtitle {
    font-family: var(--font-gliker);
    margin: auto;
    margin-top: 20px;
    color: var(--white);
    background: var(--primary);
    width: max-content;
    padding: 5px;
    border-radius: 5px;
    font-size: 0.9rem;
}

.header__title {
    font-family: var(--font-gliker);
    margin-top: 15px;
    font-size: 1.7rem;
    color: var(--secondary);
}

.alt {
    margin-top: 30px;
}

.alt__span {
    color: var(--light);
}

.alt__link {
    color: var(--primary);
    font-weight: 700;
}
