.create {
    background: var(--background);
    position: absolute;
    top: 0;
    left: -320px;
    width: 300px;
    min-height: 100px;
    max-height: 500px;
    border-radius: 10px;
    padding: 10px;
    overflow-y: auto;
}

.create__fieldset {
    width: 100%;
    background: var(--dark);
    display: flex;
    gap: 5px;
    border-radius: 10px;
    padding: 5px;
    align-items: center;
}

.create__input {
    background: none;
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 30px;
    padding: 5px;
    color: var(--light);
}

.create__input:focus-visible{
    outline: none;
}

.create__header:has(.create__input:focus-visible) {
    outline: 1px solid var(--primary);
}

.create__results {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.create__error {
    font-size: 1rem;
    color: var(--light);
}
