.map {
    width: 100%;
    z-index: 2;
}

.mapContainer {
    width: 100%;
    height: 100vh;
}

@media (min-width: 768px) {
    .map {
        flex: 1;
        min-height: 0;
    }
    
    .mapContainer {
        height: 100%;
    }
}