.container {
  position: relative;
  display: inline-block;
}

.icon {
  font-size: 22px;
  color: var(--grey);
  cursor: pointer;
  transition: 0.2s;
}

.icon:hover {
  color: var(--primary);
}

.badge {
  position: absolute;
  top: -6px;
  right: -6px;
  background-color: var(--primary);
  color: var(--white);
  font-size: 12px;
  border-radius: 50%;
  padding: 2px 6px;
}

.panel {
  position: fixed; 
  right: 80px; 
  top: 60px;
  background-color: var(--black);
  border: 1px solid var(--grey);
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  width: 260px;
  max-height: 320px;
  overflow-y: auto;
  z-index: 9999; 
  animation: fadeIn 0.2s ease-in-out;
  color: var(--white);
  padding: 10px 0;
}


.notificationItem {
  border-bottom: 1px solid var(--dark);
  padding: 10px 12px;
  cursor: pointer;
}

.notificationItem:hover {
  background: var(--dark);
}

.read {
  opacity: 0.6;
}

.title {
  display: block;
  font-weight: 600;
  color: var(--white);
  margin-bottom: 4px;
}

.message {
  margin: 0;
  color: var(--light);
}

.time {
  display: block;
  margin-top: 6px;
  font-size: 12px;
  color: var(--grey);
}
.actions {
  display: flex;
  gap: 8px;
  margin-top: 5px;
}

.accept,
.reject {
  padding: 4px 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.accept {
  background-color: var(--primary);
  color: var(--white);
}

.reject {
  background-color: transparent;
  border: 1px solid var(--grey);
  color: var(--white);
}