:root {
    --primary: #ff5050;
    --secondary: #ffeecf;
    --background: #2d2d2b;
    --white: #fff;
    --black: #262624;
    --dark: #3e3e3c;
    --grey: #5b5b5b;
    --light: #969696;
    --beige: #ffeecf;
    --font-plus: 'Plus Jakarta Sans', sans-serif;
    --font-gliker: 'Gliker', sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--font-plus);
    scroll-behavior: smooth;
}

a {
    color: inherit;
    text-decoration: none;
}
