:root {
    --primary: #ff5050;
    --secondary: #ffeecf;
    --background: #2d2d2b;
    --white: #fff;
    --black: #262624;
    --dark: #3e3e3c;
    --grey: #5b5b5b;
    --light: #c2c2c2;
    --beige: #ffeecf;
    --font-plus: 'Plus Jakarta Sans', sans-serif;
    --font-gliker: 'Gliker', sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--font-plus);
    scroll-behavior: smooth;
}

/* Remover contornos al hacer clic */
*:focus {
    outline: none;
}

button:focus,
input:focus,
textarea:focus,
select:focus,
a:focus {
    outline: none;
}

a {
    color: inherit;
    text-decoration: none;
}

::selection {
    background-color: var(--primary);
    color: var(--beige);
}
