:root {
  --primary: #FF5050;
  --secondary: #FFEECF;
  --background: #2D2D2B;
  --white: #FFF;
  --black: #262624;
  --grey: #5B5B5B;
  --light: #969696;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}