.main {
    background: var(--background);
}

.header {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header__div {
    flex: 1;
}

.header__link {
    text-align: center;
    display: inline-block;
}

.header__brand {
    width: 100%;
    margin: auto;
    height: fit-content;
}

.header__icon {
    width: 30px;
    height: 30px;
    color: var(--light);
}

.header > div:nth-child(2) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

.top {
    padding: 0 20px;
    margin-top: 20px;
}

.top__header {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.top__thumnailcontainer {
    width: 20%;
    margin: auto;
    text-align: center;
}

.top__thumnail {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 10px;
}

.top__info {
    width: 70%;
}

.top__title {
    color: var(--white);
    font-size: 1.6rem;
    font-weight: 600;
}

.top__rating {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    align-items: flex-end;
}

.top__number {
    color: var(--white);
}

.top__stars {
    display: flex;
    gap: 5px;
}

.top__star {
    width: 20px;
    height: 20px;
}

.top__aside {
    width: 100%;
    text-align: center;
}

.top__button {
    width: 50%;
    margin: auto;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
    font-size: 1rem;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: var(--background);
    transition: all 0.3s ease-in-out;
}

.top__button:hover {
    opacity: 0.9;
}

.top__icon {
    width: 20px;
    height: 20px;
    color: var(--background);
}

.gallery {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 1rem;
    padding: 0.5rem;
    width: 100%;
    max-width: 1200px;
    margin: 30px auto 0 auto;
}

.gallery__main {
    position: relative;
    border-radius: 0.75rem;
    overflow: hidden;
    height: 300px;
}

.gallery__mainimage {
    width: 100%;
    height: 100%;
}

.gallery__placeholder {
    background-color: #5a5a5a;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery__icon {
    font-size: 3rem;
    color: #9f9f9f;
}

.gallery__badge {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    background-color: #e53935;
    color: white;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    font-weight: 600;
    font-size: 0.9rem;
    padding: 0.25rem 0.5rem;
    border-radius: 0.4rem;
}

.gallery__badge-icon {
    font-size: 0.8rem;
}

.gallery__side {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 0.5rem;
}

.gallery__side-item {
    position: relative;
    background-color: #5a5a5a;
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.2s ease;
}

.gallery__side-item:hover {
    background-color: #666;
}

.gallery__side-info {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.gallery__side-image {
    width: 100%;
    border-radius: 10px;
    height: auto;
}

.gallery__side-icon {
    font-size: 1.5rem;
    color: #ccc;
}

.gallery__side-title {
    color: white;
    font-size: 0.9rem;
    font-weight: 500;
}

.gallery__side-count {
    color: white;
    font-size: 0.9rem;
    font-weight: 600;
}

.navbar {
    background: var(--background);
    top: 0;
    position: sticky;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--light);
}

.navbar__ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style: none;
    align-items: center;
}

.navbar__li:first-child {
    color: var(--primary);
}

.navbar__li {
    font-size: 0.8rem;
    font-weight: 800;
    color: var(--white);
}

.info {
    padding: 0 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.data {
    flex: 2;
}

.data__title {
    font-size: 1.6rem;
    color: var(--white);
    font-weight: 600;
}

.data__open {
    margin-top: 20px;
    color: #118802;
    font-weight: 600;
}

.data__list {
    margin-top: 20px;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

.data__item {
    display: flex;
    gap: 10px;
}

.data__icon {
    color: var(--white);
    width: 20px;
    height: 20px;
}

.data__link {
    font-size: 1rem;
    font-weight: 400;
    color: var(--white);
}

.data__subtitle {
}

.data__info {
}

.hours {
}

.hours__title {
}

.hours__button {
}

.hours__icon {
}

.hours__div {
}

.hours__subtile {
}

.hours__text {
}

.hours__ul {
}

.schedule__item {
}

.schedule__day {
}

.schedule__hours {
}
