.header {
    text-align: center;
}

.header__img {
    width: 200px;
    height: auto;
}

.form {
    width: 100%;
    margin-top: 30px;
    text-align: center;
}

.form__subtitle {
    color: var(--white);
    background: var(--primary);
    width: max-content;
    margin: auto;
    padding: 5px;
    border-radius: 5px;
    font-size: 0.9rem;
}

.form__title {
    margin-top: 15px;
    font-size: 1.7rem;
    color: var(--secondary);
}

.form__grid {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form__group {
    width: 100%;
    background: var(--black);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.form__icon {
    align-self: center;
    width: 20px;
    height: 20px;
    color: var(--light);
}

.form__icon__toggle {
    align-self: center;
    width: 20px;
    height: 20px;
    color: var(--light);
    cursor: pointer;
    transition: color 0.3s ease;
}

.form__icon__toggle:hover {
    color: var(--white);
}

.form__input {
    color: var(--white);
    border: none;
    background: var(--black);
    width: 100%;
    font-size: 1.1rem;
}

.form__input::placeholder {
    color: var(--light);
}

.form__input:focus-visible {
    outline: none;
}

.form__group:focus-within {
    outline: 1px solid var(--primary);
}

.container {
    margin-top: 20px;
}

.button {
    width: 100%;
    background: var(--white);
    border: none;
    border-radius: 10px;
    text-align: center;
    padding: 15px;
    font-size: 1.2rem;
    font-weight: 700;
    font-family: var(--font-gliker);
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover {
    background: var(--primary);
    color: var(--beige);
}

.alt {
    margin-top: 30px;
}

.alt__span {
    color: var(--light);
}

.alt__link {
    color: var(--primary);
    font-weight: 700;
}

.error {
    display: block;
    color: var(--primary);
    font-weight: 400;
    margin-top: 10px;
}

@media (min-width: 768px) {
    .form__grid {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .form__grid > :first-child {
        grid-column: span 2;
    }

    .form__grid > :last-child {
        grid-column: span 2;
    }
}
