.main {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    height: 100dvh;
    width: 100dvw;
}

.nav {
    z-index: 3;
    top: 20px;
    width: 90%;
    left: 5%;
    margin: auto;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__logo {
    display: none;
}

.nav__fieldset {
    width: 70%;
    background: var(--black);
    display: flex;
    flex-direction: row;
    gap: 5px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    transition: all 0.3s ease;
}

.nav__icon {
    width: 20px;
    height: 20px;
    color: var(--grey);
}

.nav__input {
    width: 100%;
    color: var(--grey);
    font-size: 1rem;
    padding: 0 5px;
    background: var(--black);
    border: none;
}

.nav__icons {
    display: flex;
}

.nav__div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    opacity: 1;
    transition: all 0.3s ease;
    background: var(--black);
    border: none;
    border-radius: 10px;
    padding: 10px;
}

.nav__input:focus-visible {
    outline: none;
    border: none;
}

.nav:focus-within .nav__fieldset {
    width: 100%;
}

.nav:focus-within .nav__div {
    width: 0px;
    opacity: 0;
    padding: 0;
}

.bottom {
    bottom: 20px;
    width: 90%;
    left: 5%;
    margin: auto;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column-reverse;
    gap: 20px;
}

.bottom__container {
    z-index: 2;
    position: relative;
    padding: 10px 0;
    background: var(--black);
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.bottom__button {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background: none;
    color: var(--light);
    border: 1px solid var(--grey);
    padding: 10px 5px;
    border-radius: 10px;
}

.bottom__icon {
    width: 30px;
    height: 30px;
    fill: var(--grey);
}

.bottom__span {
    font-size: 1.1rem;
}

@media (min-width: 768px) {
    .main {
        background: var(--black);
    }

    .nav {
        padding: 20px 0;
        position: unset;
    }

    .nav__logo {
        display: block;
    }

    .nav__img {
        width: 150px;
        height: auto;
    }

    .nav__fieldset {
        width: 40%;
        background: var(--background);
    }

    .nav__input {
        background: var(--background);
    }

    .nav__icons {
        display: flex;
        gap: 10px;
    }
}
