.container {
    position: relative;
    width: 100%;
}

.form__group {
    width: 100%;
    background: var(--black);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.form__icon {
    align-self: center;
    width: 20px;
    height: 20px;
    color: var(--light);
}

.form__icon__toggle {
    align-self: center;
    width: 20px;
    height: 20px;
    color: var(--light);
    cursor: pointer;
    transition: color 0.3s ease;
}

.form__icon__toggle:hover {
    color: var(--white);
}

.form__input {
    color: var(--white);
    border: none;
    background: var(--black);
    width: 100%;
    font-size: 1.1rem;
}

.form__input:focus-visible {
    outline: none;
}

.form__group:focus-within {
    outline: 1px solid var(--primary);
}

.error {
    display: block;
    margin-top: 5px;
    left: 10px;
    text-align: start;
    color: #ff5757;
    font-size: 0.85rem;
    font-weight: 500;
    padding: 2px 5px;
}
