.icons {
    position: relative;
    width: 100%;
    margin-top: 20px;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

.icons::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--light);
}

.icons__div {
    text-align: center;
    flex: 1;
    background: var(--black);
    border-radius: 10px;
    padding: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.icons__icon {
    width: 20px;
    height: 20px;
    color: var(--grey);
}

.icons__div:hover {
    background: var(--grey);
}

.icons__div:hover .icons__icon {
    color: var(--white);
}