.loadingContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 1rem;
    text-align: center;
    height: 100dvh;
    background: var(--light);
}

.spinner {
    width: 48px;
    height: 48px;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-top-color: var(--primary);
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-bottom: 1rem;
}

.loadingText {
    color: #555;
    font-size: 1rem;
    font-weight: 500;
}

@media(min-width: 768px){
    .loadingContainer{
        height: 100%;
    }
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
