.social {
    margin-top: 40px;
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.social__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid var(--grey);
}

.social__title {
    color: var(--white);
    font-size: 2rem;
}

.social__icon {
    width: 20px;
    height: 20px;
    color: var(--beige);
}

.search {
    width: 100%;
    margin-top: 20px;
    display: flex;
    border: none;
    border-radius: 10px;
    background: var(--dark);
    padding: 15px;
    gap: 10px;
}

.search__icon {
    width: 20px;
    height: 20px;
    color: var(--light);
}

.search__input {
    background: var(--dark);
    flex: 1;
    border: none;
    color: var(--light);
    font-size: 1rem;
}

.search__input:focus-visible {
    outline: none;
}

.members {
    flex: 1;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.members__error {
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    color: var(--light);
}

.member {
    display: flex;
    align-items: center;
    gap: 10px;
}

.member__img {
    width: 30px;
    height: 30px;
    background: var(--beige);
    border-radius: 10px;
    padding: 5px;
}

.member div:nth-child(2) {
    flex: 1;
}

.member__name {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--white);
    text-transform: capitalize;
}

.member__crown {
    width: 20px;
    height: 20px;
}

.member div:nth-child(3) {
    display: flex;
    gap: 20px;
    align-items: center;
}

.members__icon {
    width: 15px;
    height: 15px;
    color: var(--light);
    border-radius: 10px;
    padding: 5px;
    border-radius: 100%;
    border: 1px solid var(--light);
}

.members__delete {
    width: 20px;
    height: 20px;
    background: var(--primary);
    color: var(--white);
    border-radius: 10px;
    padding: 5px;
}

.invite {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid var(--grey);
    display: flex;
    gap: 20px;
}

.invite__fieldset {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex: 2;
    border-radius: 10px;
    border: none;
    background: var(--dark);
}

.invite__icon {
    width: 20px;
    height: 20px;
    color: var(--light);
}

.invite__input {
    border: none;
    border-radius: 10px;
    background: var(--dark);
}

.invite__div {
    flex: 1;
}

.invite__button {
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    background: var(--primary);
    color: var(--beige);
    font-size: 1rem;
    font-weight: 600;
}