.nav {
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin-bottom: 20px;
}

.nav__logo,
.nav__switch {
    display: none;
}

.nav__logo.show,
.nav__switch.show {
    display: block;
}

.nav__logo {
    flex: 1;
}

.nav__logo a {
    display: block;
    height: 100%;
    width: fit-content;
}

.nav__logo img {
    height: 100%;
}

.nav__icon {
    width: 20px;
    height: 20px;
    color: var(--grey);
}

.nav__icons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.nav__icons div {
    flex: 1;
}

@media (min-width: 768px) {
    .nav__logo {
        display: block !important;
    }

    .nav__switch {
        display: none !important;
    }
}
