.nav {
    z-index: 3;
    top: 20px;
    width: 90%;
    left: 5%;
    margin: auto;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__logo {
    display: none;
}

.nav__icon {
    width: 20px;
    height: 20px;
    color: var(--grey);
}

.nav__icons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.nav__icons div {
    flex: 1;
}

.nav__div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    opacity: 1;
    transition: all 0.3s ease;
    background: var(--black);
    border: none;
    border-radius: 10px;
    padding: 10px;
}

.container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    color: var(--white);
    font-size: 1.2rem;
    font-weight: 500;
}

@media (min-width: 768px) {
    .main {
        background: var(--black);
        overflow: unset;
    }

    .nav {
        padding-top: 20px;
        position: unset;
    }

    .nav__logo {
        display: block;
    }

    .nav__img {
        width: 150px;
        height: auto;
    }

    .nav__icons {
        display: flex;
        gap: 10px;
    }
}
