.header {
    width: 98%;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    background: var(--primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__div {
    width: 50%;
}

.header__img {
    width: auto;
    height: 100%;
}

.header__container {
    background: var(--dark);
    padding: 15px 0;
    position: absolute;
    gap: 5px;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease;
    text-align: center;
}

.header__active {
    opacity: 1;
    pointer-events: auto;
    position: absolute;
    z-index: 99;
}

.header__close {
    top: 40px;
    right: 40px;
    position: absolute;
    color: var(--white);
    width: 30px;
    height: 30px;
}

.header__nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header__link {
    font-size: 1.3rem;
    font-weight: 600;
    font-family: var(--font-gliker);
    color: var(--beige);
}

.header__bcontainer {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header__buttonRes {
    border-radius: 10px;
    border: 2px solid var(--white);
    background: none;
    color: var(--white);
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 20px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: color 0.35s ease;
}

.header__buttonRes span {
    position: relative;
    z-index: 2;
}

.header__buttonRes::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    right: 100%;
    background: var(--white);
    z-index: 1;
    transition: all 0.35s ease;
}

.header__buttonRes:hover::after {
    left: 0;
    right: 0;
}

.header__buttonRes:hover span {
    color: var(--black);
}

.header__button {
    border-radius: 10px;
    border: 2px solid var(--beige);
    color: var(--beige);
    font-size: 1rem;
    font-weight: 600;
    background: none;
    padding: 10px 20px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: color 0.35s ease;
}

.header__button span {
    position: relative;
    z-index: 2;
}

.header__button::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    right: 100%;
    background: var(--beige);
    z-index: 1;
    transition: all 0.35s ease;
}

.header__button:hover::after {
    left: 0;
    right: 0;
}

.header__button:hover span {
    color: var(--black);
}

.header__icon {
    padding-right: 5px;
    height: 30px;
    width: 30px;
}

@media (min-width: 768px) {
    .header {
        padding: 20px;
        align-items: center;
        justify-content: center;
    }

    .header__div {
        width: 20%;
    }

    .header__img {
        width: 100%;
    }

    .header__close {
        display: none;
    }

    .header__container {
        opacity: 1;
        width: 80%;
        height: auto;
        position: unset;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        transform: unset;
        margin: 0;
        padding: 0;
        padding-left: 100px;
        background: unset;
        pointer-events: all;
    }

    .header__nav {
        flex-direction: row;
        gap: 30px;
    }

    .header__icon {
        display: none;
    }

    .header__bcontainer {
        margin: 0;
        flex-direction: row;
    }
}
