.nav {
    z-index: 3;
    top: 20px;
    width: 90%;
    left: 5%;
    margin: auto;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__logo {
    display: none;
}

.nav__fieldset {
    width: 70%;
    background: var(--black);
    display: flex;
    flex-direction: row;
    gap: 5px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    transition: all 0.3s ease;
}

.nav__icon {
    width: 20px;
    height: 20px;
    color: var(--grey);
}

.nav__input {
    width: 100%;
    color: var(--grey);
    font-size: 1rem;
    padding: 0 5px;
    background: var(--black);
    border: none;
}

.nav__icons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.nav__icons div {
    flex: 1;
}

.nav__div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    opacity: 1;
    transition: all 0.3s ease;
    background: var(--black);
    border: none;
    border-radius: 10px;
    padding: 10px;
}

.nav__input:focus-visible {
    outline: none;
    border: none;
}

.nav:focus-within .nav__fieldset {
    width: 100%;
}

.nav:focus-within .nav__div {
    width: 0px;
    opacity: 0;
    padding: 0;
}

@media (min-width: 768px) {
    .nav {
        padding-top: 20px;
        position: unset;
    }

    .nav__logo {
        display: block;
    }

    .nav__img {
        width: 150px;
        height: auto;
    }

    .nav__fieldset {
        width: 40%;
        background: var(--background);
    }

    .nav__input {
        background: var(--background);
    }

    .nav__icons {
        display: flex;
        gap: 10px;
    }

    .nav:focus-within .nav__fieldset {
        width: 40%;
    }

    .nav:focus-within .nav__div {
        width: unset;
        opacity: 1;
        padding: 10px;
    }
}
